* {
    box-sizing: border-box;
}

body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
    color: #8a17d786;
}
.telaInicial{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 70px;
    margin: 60px;
    text-align: center;
}

.telaInicial div {
    display: flex;
    justify-content: center;
}
.telaInicial div input{
    margin-right: 15px;
    height: 40px;
    width: 240px;
    border: 1px solid #6312d488;
    color: #6312d4c5;
    font-size: 16px;
    background-color: #6312d443;
    border-radius: 5px;
}
input::placeholder {
    color: #FFF;
}
input:focus , input:active{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.telaInicial div button{
    height: 40px; 
    border: 1px solid #6312d488;
    color: #FFF;
    background-color: #6312d48b;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.telaDeSelecao h1 {
    margin-top: 10%;
    margin-left: 10%;
}

.telaDeSelecao div {
width: 60%;
margin-left: 20%;
margin-top: 90px;
display: flex;
justify-content: space-around;
}

.objetoPedra {
    height: 170px;
    padding: 8px;
    background-color: #6312d443;
    border: 1px solid #6312d488;
    border-radius: 5px;
}
.objetoPedra:hover{
    cursor: pointer;
}
.objetos:hover{
    cursor: pointer;
}

.objetos {
    height: 170px;
    padding: 30px;
    background-color: #6312d443;
    border: 1px solid #6312d488;
    border-radius: 5px;
}

.telaDeLoad img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.telaDeLoad h1{
    position: fixed;
    top: 20%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.telaDeResultado {
    display: flex;
    margin-left: 35%;
    margin-top: 10%;
    
}
.telaDeResultado h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 10px;
}

.telaDeResultado p {
    font-size: 40px;
    margin-left: 250px;
    margin-bottom: 40px;
}

.telaDeResultado button {
    font-size: 22px;
    margin-left: 200px;
    margin-bottom: 40px;
    height: 40px; 
    border: 1px solid #6312d488;
    color: #FFF;
    background-color: #6312d48b;
    border-radius: 5px;
}

.telaDeResultado div img {
    display: block;
    margin-bottom: 50% ;

}

.mensagemErro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

